.conversion-pair-container {
    margin-bottom: 30px !important;
    display: flex;
    align-items: center;
    
  }
  
  label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  select {
    padding-left: 10px;
    font-size: 14px;
    width: 55%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  select:hover,
  select:focus {
    border-color: #3498db;
  }
  
  