body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #3498db;
  margin-bottom: 20px;
}

/* ConversionPair.css styles */
.conversion-pair-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  font-size: 16px;
}

select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:hover,
select:focus {
  border-color: #3498db;
}

/* Result.css styles */
.result-display-container {
  margin-top: 20px;
}

label {
  margin-right: 10px;
  font-size: 16px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 200px; /* Adjust width as needed */
  transition: border-color 0.3s;
}

input:hover,
input:focus {
  border-color: #3498db;
}
